@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este website foi construído com a ferramenta Visual Studio 2017 utilizando o framework Asp.Net MVC para o Treinamento Piso Ribeirão Preto</p>
